.brands {
    color: $text-colour--neg;
    padding: rem-calc(40) 0;
    background: $bg--dark;
    overflow-x: hidden;
    
    p {
        line-height: 1;
        text-align: right;
        margin: rem-calc(40) 0 0;
        font-family: $serif;
        font-style: italic;
        font-size: rem-calc(28);
    }
}

.brands__title {
    color: $text-colour--neg;
    font-family: $serif;
    font-style: italic;
    font-weight: 400;
    font-size: rem-calc(28);
    margin: 0 0 rem-calc(40);
    line-height: 1;
}

.brands__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 rem-calc(-120);
}

.brands__item {
    flex: 0 0 auto;
    margin: rem-calc(15);
}


@include mq($from: small, $and: '(orientation: landscape)') {
    
    .brands p {
        padding-right: rem-calc(90);
    }
}


@include mq($from: medium) {
    
    .brands {
        
        p {
            position: relative;
            right: 8.333%;
        }
    }
    
    .brands__title {
        position: relative;
        left: 8.333%;
    }
    
    .brands__list {
        flex-wrap: nowrap;
        margin: 0;
    }
    
    .brands__item {
        flex: 0 0 auto;
        margin: 0 rem-calc(15);
    }
}


@include mq($from: large) {
    
    .brands {
        padding: rem-calc(120) 0;
        
        p {
            margin: rem-calc(80) 0 0;
            font-size: rem-calc(36);
        }
    }
    
    .brands__title {
        margin: 0 0 rem-calc(80);
        font-size: rem-calc(36);
    }
}