.fixed-content {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.feature {
    position: absolute;
    top: rem-calc(85);
    left: rem-calc(15);
    right: rem-calc(15);
    bottom: rem-calc(15);
    color: $text-colour--neg;
    z-index: 1;
    overflow: hidden;
        
    * {
        z-index: 3;
    }
    
    &.active {
       z-index: 2; 
    }
}

.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem-calc(15);
    height: 100%;
    position: relative;
    color: $text-colour--neg;

}


@include mq($and: '(orientation: landscape)') {
    
//    .feature__container {
//        top: 0;
//        right: 100%;
//        transition: right ease 0.5s;
//        transition-delay: 0.5s;
//    }
//    
//    .active .feature__container {
//        right: 0;
//        transition: right ease 0.5s;
//    }
}


@include mq($and: '(orientation: portrait)') {
        
//    .feature__container {
//        top: 100%;
//        right: 0;
//        transition: top ease 0.5s;
//        transition-delay: 0.5s;
//    }
//    
//    .active .feature__container {
//        top: 0;
//        transition: top ease 0.5s;
//    }
}

.feature__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    svg {
        display:block;
        width:100%;
        height:100%;
        position: relative;
        z-index: 5;
    }
}

.feature__head {
	position: absolute;
    top: rem-calc(15);
    z-index: 10;
}

.feature__title {
	font-size: rem-calc(42);
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.feature__summary {
    font-family: $text-secondary;
    letter-spacing: 0.02em;
    font-size: rem-calc(20);
    line-height: 1;
}

.feature__link {
	font-size: rem-calc(20);
    text-transform: uppercase;
    font-weight: 700;
}

.feature__image {
//    background-size: cover; 
//    background-position: center;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    //filter: blur(30px);
    
    img {
        mix-blend-mode: overlay;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.mask--horz {
    display: none;
}
    
.mask--vert {
    display: inline;
}


@include mq($from: large) {
    
    .feature__title {
	   font-size: rem-calc(54);
    }
    
    .feature__summary {
        font-size: rem-calc(28);
    }
}

@include mq($and: '(orientation: landscape)') {
    
    .feature {
        left: rem-calc(15);
        right: rem-calc(85);
        top: rem-calc(15);
        bottom: rem-calc(15);
    }
    
    .feature__head {
        top: rem-calc(15);
    }
    
    .mask--horz {
        display: inline;
    }
    
    .mask--vert {
        display: none;
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .feature {
        left: rem-calc(75);
        right: rem-calc(75);
        top: rem-calc(85);
        bottom: rem-calc(85);
        //padding: 10%;
    }
    
    .feature__head {
        top: rem-calc(90);
    }
}


@include mq($from: medium, $and: '(orientation: landscape)') {
    
    .feature {
        left: rem-calc(110);
        right: rem-calc(110);
        top: rem-calc(85);
        bottom: rem-calc(85);
    }
    
    .feature__container {
	   padding: 10%;
    }
    
    .feature__head {
        top: 25%;
    }
}

// Gradients & Masks
//=================================================


// Modifiers
//=================================================

$ma1:   #008e4c;
$ma2:   #4ab6e9;
$pw1:   #341160;
$pw2:   #35bfae;
$bh1:   #774636;
$bh2:   #c9914a;

.meadow-arts .feature__overlay {
    background-image: linear-gradient(to top, $ma1 0%, $ma2 100%);
}

.ben .feature__overlay {
    background-image: linear-gradient(to top, $bh1 0%, $bh2 100%);
}

.parkway .feature__overlay {
    background-image: linear-gradient(to top, $pw1 0%, $pw2 100%);
}