.content {
    position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 100px solid white;
	overflow: auto;
	font-size: 90px;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth; 
	
	&::-webkit-scrollbar {
		display: none;
	}
}

.feature {
    scroll-snap-align: start;
    position: relative;
    height: 100%;
    padding: rem-calc(85) rem-calc(24) rem-calc(24);
    
    &:first-of-type {
        display: none;
    }
}

.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem-calc(15);
    height: 100%;
    position: relative;
    color: $text-colour--neg;
}


@include mq($and: '(orientation: landscape)') {
    
    .feature {
        padding: rem-calc(15) rem-calc(85) rem-calc(15) rem-calc(15);
    }
}

.feature__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    svg {
        display:block;
        width:100%;
        height:100%;
        position: relative;
        z-index: 5;
    }
}

.feature__head {
    position: absolute;
    z-index: 5;
    top: rem-calc(10);
    padding-right: 15px;
}

.feature.visible .feature__head {
    opacity: 1;
    transition-delay: 0;
}

.feature__title {
	font-size: rem-calc(39);
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.feature__summary {
    font-family: $text-secondary;
    font-style: italic;
    letter-spacing: 0.02em;
    font-size: rem-calc(24);
    margin-top: rem-calc(10);
    line-height: 1;
}

.feature__link {
	font-size: rem-calc(20);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 5;
    transition: all ease 0.6s;
    transition-delay: 0.6s;
    
    .icon--arrow-right {
        font-size: rem-calc(16);
        position: relative;
        left: 0;
        transition: left ease .2s;
    }
    
    &:hover {
        .icon--arrow-right {
            left: rem-calc(5);
        }
    }
}

.feature__image {
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.mask--horz {
    display: none;
}
    
.mask--vert {
    display: inline;
}
    
@media (min-width:rem-calc(375)) and (orientation: portrait) {
    
    .feature__head,
    .feature.visible .feature__head {
	   top: 20%;
    }
}

mask lineargradient stop {
    
    &:first-of-type {
        stop-color: #fff;
    }
    
    &:last-of-type {
        stop-color: #000;
    }
}


@include mq($from: large) {
    
    .feature {
        
        &:first-of-type {
            display: block; 
            
            > .feature__container:before {
                display: none;
            } 
        }
    }
    
    .feature__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* Force Hardware Acceleration */
        transform: translateZ(0);
        backface-visibility: hidden;
    }
    
    .feature__title {
	   font-size: rem-calc(54);
    }
    
    .feature__summary {
        font-size: rem-calc(28);
    }
    
    .feature__link {
        opacity: 0;
    }
}

@include mq($and: '(orientation: landscape)') {
    
    .mask--horz {
        display: inline;
    }
    
    .mask--vert {
        display: none;
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .feature {
        padding: rem-calc(85) rem-calc(80);
    }
    
    .feature__head {
        padding: rem-calc(75);
        top: 0;
    }
    
    .feature__link {
        padding-left: rem-calc(75);
    }
    
    .feature__title {
        font-size:  rem-calc(54);
    }
    
    .feature__summary {
        font-size: rem-calc(30);
    }
}


@include mq($from: medium, $and: '(orientation: landscape)') {
    
    .feature {
        padding: rem-calc(80) 8.333%;
    }
    
    .feature__container {
	   padding: 10%;
    }
    
    .feature__head {
        top: 15%;
    }
    
    .feature__title {
        font-size:  rem-calc(54);
    }
    
    .feature__summary {
        font-size: rem-calc(30);
    }
    
    .feature__link {
        position: relative;
        top: 30px;
    }
}


@include mq($from: large, $and: '(orientation: landscape)') {
    
    .feature__head {
        top: calc(25% + 60px);
    }
    
    .feature__link {
        position: relative;
        top: 30px;
    }
    
    .feature.visible {
        
        .feature__head {
            top: 25%;
        }
        
        .feature__link {
            top: 0;
            opacity: 1;
        }
    }
}

@include mq($from: large) {
    
    .feature__head {
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: all ease 0.5s;
        transition-delay: 0.4s;
    }
    
    .feature__summary {
        margin-top: 0;
    }
}

.feature__nav {
    position: absolute;
    z-index: 5;
    display: none;
    color: $text-colour--neg;
    bottom: 10%;
    font-size: 16px;
    text-transform: uppercase;
    
    li {
        float: left;
    }
}

.feature__nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    border: solid 1px $text-colour--neg;
    padding: 0 20px;
}

.feature__nav a.cd-prev {
    margin-right: 10px;
}

.feature__nav a.inactive {
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.2s 0s, 
        visibility 0s 0.2s;
}

@include mq($from: large) {
    
    .feature__nav {
        display: block;
    }
}

// Gradients & Masks
//=================================================

.nik-burns {                        @include colourway(#252525, #e09e4d); }
.meadow-arts {                      @include colourway(#2c3a75, #f3c234); }
.benedict-homer {                   @include colourway(#774636, #c9914a); }
.dorset-council {                   @include colourway(#06a099, #c7d42f); }
.parkway-restaurant {               @include colourway(#341160, #35bfae); }
.peter-bishop {                     @include colourway(#d0c7d8, #4f869a); }
.three-weeks {                      @include colourway(#e763a4, #815fa8); }
.marc-soubeyran {                   @include colourway(#b15a27, #5a1d0b); }
.gwynedd-council {                  @include colourway(#408627, #404040); }
.sbif {                             @include colourway(#e6e6e6, #1a283a); }
.wycopedia {                        @include colourway(#cccccc, #0070be); }
.nmni {                             @include colourway(#474747, #61116a); }
.toolsave {                         @include colourway(#a91f23, #881a22); }
.lumberjack-tools {                 @include colourway(#a91f23, #881a22); }
.ideal-saddles {                    @include colourway(#d18642, #ad9d3b); }
.church-stretton-visitor-guides {   @include colourway(#203a1d, #909347); }
