.hello {
    padding: rem-calc(85) 0;
    
    p {
        font-size: rem-calc(16);
    }
}

.hello__title {
    margin: 0 0 rem-calc(60);
    line-height: 1;
}

.hello__hello {
    display: block;
    font-family: $serif;
    font-weight: 400;
    position: relative;
    left: rem-calc(-40);
    font-size: rem-calc(150);
}

.hello__name {
	display: block;
    font-size: rem-calc(36);
    margin-top: rem-calc(-20);
}


@include mq($from: small, $and: '(orientation: landscape)') {
    
    .hello {
        padding-right: rem-calc(90);
    }
}


@include mq($from: medium) {
    
    .hello {
        padding: rem-calc(85) 0;

        p {
            font-size: rem-calc(20);
        }
    }
    
    .hello__title {
        position: relative;
        left: 16.666%;
        margin: 0 0 rem-calc(60);
    }
    
    .hello__hello {
        font-size: rem-calc(30);
    }
    
    .hello__name {
        font-size: rem-calc(36);
        line-height: rem-calc(36);
        margin-top: 0;
    }
    
    .hello__summary {
        position: relative;
        left: 25%;
    }
}


@include mq($from: large) {
    
    .hello__title {
        position: relative;
        left: 16.666%;
        margin: 0 0 rem-calc(120);
    }
}