//img {
//    filter: blur(40px);
//    transition: all 0.5s ease;
//    //transition-delay: 2s;
//    transform: scale(1.05);
//    
//    &.lazy {
//        display: none;
//    }
//    
//    &.loaded {
//        filter: blur(0);
//        transform: scale(1);
//        position: relative;
//        z-index: 1;
//    }
//}

//.pre {
//    position: relative;
//    //top: -100%;
//    //overflow: hidden;
//}

.image {
    height: 100vh;
    overflow: hidden;
    padding: rem-calc(15) rem-calc(70) rem-calc(15) rem-calc(15);
    
    .row {
        height: 100%;
    }
}

.image__container {
    height: 100%;
    overflow: hidden;
    
    &.column {
        padding: 0;
    }
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.image--full {
    //padding: rem-calc(15) rem-calc(70) rem-calc(15) rem-calc(15);
}


@include mq($from: medium) {
    
    .image {
        padding: rem-calc(60) rem-calc(15);
    }
    
    .split__text {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .text__container {
        background: $bg;
        z-index: 1;
        padding: rem-calc(40) 40% rem-calc(40) 0;
    }
}


@include mq($and: '(orientation: portrait)') {
    
    .image {
        height: 50vh;
        padding: rem-calc(15);
    }
    
    .split__text {
        display: flex;
        align-items: center;
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .image {
        padding: rem-calc(70) rem-calc(15);
    }
}


@include mq($from: large) {
    
    .image {
        padding: rem-calc(90) rem-calc(15);
    }
}