.project {
    margin-bottom: 50vh;
    background: $bg;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.preview {
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: #ccc;
}

.preview__content {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $text-colour--neg;
    padding: rem-calc(15);

    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    
    .row.column {
        z-index: 3;
        //position: absolute;
        top: 0;
        left: 0;
    }
    
    .column.column {
        padding: 0;
        height: 100%;
    }
}

.preview__image {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: overlay;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.preview__previous {
    font-size: rem-calc(18);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    
    .preview__direction {
        text-transform: none;
    }
    
    .icon--arrow-left {
        font-size: rem-calc(15);
        position: relative;
        transition: left ease .2s;
        left: 0;
    }
    
    &:hover {
        .icon--arrow-left {
            left: rem-calc(-5);
        }
    }
}

.preview__direction {
    font-weight: 300;
}

.preview__link {
	display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.preview__next {
	font-size: rem-calc(30);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    
    .preview__direction {
        display: block;
        font-size: rem-calc(18);
        font-weight: 300;
    }
    
    .icon--arrow-right {
        font-size: rem-calc(20);
        position: relative;
        top: -2px;
        left: 0;
        transition: left ease .2s;
    }
    
    &:hover {
        .icon--arrow-right {
            left: rem-calc(5);
        }
    }
}


@media ($portrait) {
    
    .project {
        margin-bottom: 25vh;
    }
        
    .preview {
        height: 25vh;
        
        .mask--horz {
            display: inline;
        }
    }
}


@media ($from-medium) {
    
    .preview__content {
        padding: rem-calc(45) 0;
    }
    
    .preview__next {
        font-size: rem-calc(42);
        
        .icon--arrow-right {
            font-size: rem-calc(30);
        }
    }
    
    .preview__next .preview__direction {
        font-size: rem-calc(24);
    }
}


@media ($from-large) {
    
    .preview__content {
        padding: rem-calc(60) 0;
    }
    
    .preview__next {
        font-size: rem-calc(60);
        
        .icon--arrow-right {
            font-size: rem-calc(42);
        }
    }
    
    .preview__next .preview__direction {
        font-size: rem-calc(30);
    }
}