.project {
    margin-bottom: 50vh;
    background: $bg;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.preview {
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: #ccc;
    
    &.meadow-arts {
        background: linear-gradient(to top, $ma1 0%, $ma2 100%);
    }
}

.preview__content {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $text-colour--neg;
    padding: rem-calc(15);


    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    
    .row.column {
        z-index: 3;
        //position: absolute;
        top: 0;
        left: 0;
    }
    
    .column.column {
        padding: 0;
        height: 100%;
    }
}

.preview__image {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: overlay;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.preview__previous {
    font-size: rem-calc(18);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    
    .preview__direction {
        text-transform: none;
    }
}

.preview__direction {
    font-weight: 300;
}

.preview__link {
	display: block;
}

.preview__next {
	font-size: rem-calc(30);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    
    span {
        display: block;
    }
    
    .preview__direction {
        font-size: rem-calc(18);
        font-weight: 300;
    }
}


@include mq($and: '(orientation: portrait)') {
    
    .project {
        margin-bottom: 25vh;
    }
        
    .preview {
        height: 25vh;
        
        .mask--horz {
            display: inline;
        }
    }
}


@include mq($from: medium) {
    
    .preview__content {
        padding: rem-calc(45) 0;
    }
    
    .preview__next {
        font-size: rem-calc(42);
    }
    
    .preview__next .preview__direction {
        font-size: rem-calc(24);
    }
}


@include mq($from: large) {
    
    .preview__content {
        padding: rem-calc(60) 0;
    }
    
    .preview__next {
        font-size: rem-calc(60);
    }
    
    .preview__next .preview__direction {
        font-size: rem-calc(30);
    }
}