.image {
    height: 100vh;
    overflow: hidden;
    padding: rem-calc(15) rem-calc(70) rem-calc(15) rem-calc(15);
    
    &.split,
    &.image--full,
    &.image--offset-left {
        height: auto;
    }
    
    .row {
        height: 100%;
    }
}

.image__container {
    height: 100%;
    overflow: hidden;
    
    &.column {
        padding: 0;
    }
}


@include mq($from: medium) {
    
    .image {
        padding: rem-calc(60) rem-calc(15);
    }
    
    .split {
        display: flex;
        align-items: center;
    }
    
    .split__text {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .text__container {
        background: $bg;
        z-index: 1;
        padding: rem-calc(40) 20%;
        box-shadow: rem-calc(-20) 0 rem-calc(60) 0 rgba(0,0,0,0.1);
    }
}


@include mq($and: '(orientation: portrait)') {
    
    .image {
        height: 50vh;
        padding: rem-calc(15);
        
        &.split,
        &.image--full{
            height: auto;
        }
        
        .image__container + .split__text {
            margin-top: rem-calc(20);
        }
    }
    
    .split__text {
        display: flex;
        align-items: center;
        padding: rem-calc(20) rem-calc(20) rem-calc(6) rem-calc(20);
        
        + .split__image {
            margin-top: rem-calc(20);
        }
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .image {
        padding: rem-calc(70) rem-calc(15);
    }
}


@include mq($from: large) {
    
    .image {
        padding: rem-calc(90) rem-calc(15);
    }
}