.testimonial {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        135deg, 
        #d0c7d8 0%,
        #4f869a 100%
    );
}

.testimonial__content,
.testimonial__content p {
	font-size: rem-calc(20);
    font-family: $text-secondary;
    line-height: 1.5;
    color: $text-colour--neg;
    letter-spacing: 0.02em;
}

.testimonial__content {
    position: relative;
    margin: 0;
    
    &:before,
    &:after {
        position: absolute;
        font-family: $text-primary;
        font-size: rem-calc(80);
        font-weight: 600;
        color: rgba(255,255,255,0.2);
    }
    
    &:before {
        content: '\201c';
        top: rem-calc(-60);
        left: 0;
    }
    
    &:after {
        content: '\201d';
        top: 100%;
        right: 0;
    }
}


@include mq($and: '(orientation: landscape)') {
    
    .testimonial {
        padding-right: rem-calc(70);
    }
}


@include mq($from: large, $and: '(orientation: landscape)') {
    
    .testimonial {
        padding-right: 0;
    }
}


@include mq($from: medium) {
    
    .testimonial__content,
    .testimonial__content p {
	   font-size: rem-calc(36);
    }
}
    

@include mq($from: large) {
    
    .testimonial__content,
    .testimonial__content p {
    }
    
    .testimonial__content {

        &:before,
        &:after {
            font-size: rem-calc(400);
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
        }

        &:before {
            top: rem-calc(-210);
            right: 100%;
        }

        &:after {
            bottom: rem-calc(-440);
            left: 100%;
        }
    }
}


@include mq($from: xlarge) {
    
    .testimonial__content {
        
        &:before {
            right: 112.5%;
        }

        &:after {
            left: 112.5%;
        }
    }
}