.secondary-nav {
    position: absolute;
    bottom: rem-calc(30);
    left: rem-calc(15);
    padding: 0 rem-calc(15);
    z-index: 20;
}

.secondary-nav__item {
    float: left;
    font-size: rem-calc(14);
    line-height: rem-calc(30);
    font-weight: 700;
    color: $text-colour--neg;
    
    &:after {
        content: '/';
        font-size: rem-calc(18);
        font-weight: 300;
        display: inline-block;
        margin: 0 rem-calc(8);
    }
    
    &:last-child:after {
        content: none;
        margin-right: 0;
    }
}


@include mq($until: medium) {
    
    .secondary-nav__item:nth-of-type(2) {
        clear: left;
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .secondary-nav {
        left: rem-calc(60);
        bottom: rem-calc(50);
    }
    
    .secondary-nav__item {
        color: $text-colour;
    }
}


@include mq($from: medium, $and: '(orientation: landscape)') {
    
    .secondary-nav {
        left: rem-calc(95);
    }
}


@include mq($from: large, $and: '(orientation: landscape)') {
    
    .secondary-nav {
        left: rem-calc(95);
        bottom: rem-calc(50);
    }
    
    .secondary-nav__item {
        color: $text-colour;
    }
}