.home .secondary-nav {
    position: fixed;
    bottom: rem-calc(20);
    left: 0;
    z-index: 1;
}

.secondary-nav {
    padding: 0 rem-calc(30);
}

.page .secondary-nav {
    padding-bottom: rem-calc(20);
}

.secondary-nav__item {
    float: left;
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    font-weight: 700;
    color: $text-colour--neg;
    
    &:after {
        content: '/';
        font-size: rem-calc(18);
        font-weight: 300;
        display: inline-block;
        margin: 0 rem-calc(8);
    }
    
    &:last-child:after {
        content: none;
        margin-right: 0;
    }
}


@include mq($until: medium) {
    
    .secondary-nav__item:nth-of-type(2) {
        clear: left;
    }
}


@include mq($from: medium) {
    
    .home .secondary__nav {
        z-index: 0;
    }
    
    .secondary-nav__item {
        color: $text-colour;
    }
}


@include mq($from: small, $and: '(orientation: landscape)') {
    
    .home .secondary-nav {
        z-index: 6;
    }
}


@include mq($from: medium, $and: '(orientation: portrait)') {
    
    .home .secondary-nav {
        left: rem-calc(60);
        bottom: rem-calc(42);
    }
    
    .secondary-nav {
        padding-left: rem-calc(16);
    }
    
    .page .secondary-nav {
        padding-bottom: rem-calc(42);
    }
}


@include mq($from: medium, $and: '(orientation: landscape)') {
    
    .home .secondary-nav {
        padding: 0 8.333%;
        z-index: 0;
    }
    
    .secondary-nav {
        padding: 0 8.333%;
    }
}


@include mq($from: large, $and: '(orientation: landscape)') {
    
    .home .secondary-nav {
        left: 0;
        bottom: rem-calc(27);
    }
    
    .page .secondary-nav {
        padding-bottom: rem-calc(27);
    }
}