// Assets paths
$path--compile:             "../";

// Breakpoints
$small:             415;
$medium:            768;
$large:             1180;
$xlarge:            1440;
$xxlarge:           1920;

$to-small:          'max-width:' $small - 1 + px;
$to-medium:         'max-width:' $medium - 1 + px;
$to-large:          'max-width:' $large - 1 + px;
$to-xlarge:         'max-width:' $xlarge - 1 + px;
$to-xxlarge:        'max-width:' $xxlarge - 1 + px;

$from-small:        'min-width:' $small + px;
$from-medium:       'min-width:' $medium + px;
$from-large:        'min-width:' $large + px;
$from-xlarge:       'min-width:' $xlarge + px;
$from-xxlarge:      'min-width:' $xxlarge + px;

$landscape:         'orientation:' landscape;
$portrait:          'orientation:' portrait;

/**
 * Base
 */

$base--rem:                 16px !default;
$base--font-size:           100%; 
$base--line-height:         1.4;

/**
 * Global
 */

$sans-serif:   "raleway", Helvetica, Roboto, Arial, sans-serif;
$serif:        'MrsEaves';
$monospace:    Monaco, Consolas, "Liberation Mono", Courier, monospace;

// Descriptive base colors
$white:                     #fff;
$black:                     #000;
$not-black:                 #262626;
$grey:                      #999;
$dark-grey:                 #666;
$vdark-grey:                #333;
$light-grey:                #ebebeb;

// Color usage
$color--primary:             $black !default;
//$color--secondary:           $green !default;

// We use these to control various global styles
$text-colour:               $black;
$text-colour--neg:          $white;
$text-colour--light:        $grey;
$text-weight--normal:       400;
$text-weight--bold:         700;
$text-primary:              $sans-serif;
$text-secondary:            $serif;

$bg:                        $white;
$bg--dark:                  $not-black;
$bg--quite-dark:            $vdark-grey;
$bg--mid:                   $dark-grey;

$t-time:                    0.3s;
$transition-all:            all ease $t-time;
$bezier:                    cubic-bezier(.66, 0, .33, 1);

// Grid settings
$row-width:                 rem-calc(1400);
$column-gutter:             rem-calc(30);
$total-columns:             12;

// Heading sizes at various breakpoints
$header-sizes: (
  small: (
    'h1': 42,
    'h2': 30,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 36,
    'h3': 36,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
) !default;



/**
 * Icons
 */

$icon-font-path:    "../fonts" !default;

$icon-monogram:     "\e900";
$icon-arrow-down:   "\e901";
$icon-arrow-left:   "\e902";
$icon-arrow-right:  "\e903";
$icon-close:        "\e904";
$icon-mail:         "\e905";


// Feature Variables

