@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/300/raleway-light-italic-webfont.eot');
    src: url('../fonts/raleway/300/raleway-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/300/raleway-light-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/300/raleway-light-italic-webfont.woff') format('woff'),
         url('../fonts/raleway/300/raleway-light-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/300/raleway-light-italic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/300/raleway-light-webfont.eot');
    src: url('../fonts/raleway/300/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/300/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/300/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway/300/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway/300/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
}

//@font-face {
//    font-family: 'raleway';
//    src: url('../fonts/raleway/600/raleway-semibold-webfont.eot');
//    src: url('../fonts/raleway/600/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/raleway/600/raleway-semibold-webfont.woff2') format('woff2'),
//         url('../fonts/raleway/600/raleway-semibold-webfont.woff') format('woff'),
//         url('../fonts/raleway/600/raleway-semibold-webfont.ttf') format('truetype'),
//         url('../fonts/raleway/600/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
//    font-weight: 600;
//    font-style: normal;
//}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/700/raleway-bold-italic-webfont.eot');
    src: url('../fonts/raleway/700/raleway-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/700/raleway-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/700/raleway-bold-italic-webfont.woff') format('woff'),
         url('../fonts/raleway/700/raleway-bold-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/700/raleway-bold-italic-webfont.svg#ralewaybold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/700/raleway-bold-webfont.eot');
    src: url('../fonts/raleway/700/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/700/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/700/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway/700/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/700/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mrs-eaves';
    src: url('../fonts/MrsEavesItalic.eot');
    src: url('../fonts/MrsEavesItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MrsEavesItalic.woff2') format('woff2'),
         url('../fonts/MrsEavesItalic.woff') format('woff'),
         url('../fonts/MrsEavesItalic.ttf') format('truetype'),
         url('../fonts/MrsEavesItalic.svg#ralewaybold') format('svg');
    font-weight: 400;
    font-style: italic;
}

/* Heading sizes
----------------------------------------*/

@each $size, $headers in $header-sizes {
    @include mq($size) {
        @each $header, $font-size in $headers {
            #{$header} {
                font-size: rem-calc($font-size);
            }
        }
    }
}


/* Basics
-----------------------------------------*/

body {
    font-size: rem-calc(14);
    line-height: 1.875;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: rem-calc(14);
    line-height: 1.875;
    margin: 0 0 rem-calc(7);
}

a, 
a:visited {
    text-decoration: none;
    color: inherit;
    transition: $transition-all;
    
    .icon {
        position: relative;
        top: rem-calc(-2);
        left: rem-calc(0);
        transition: left $t-time $bezier;
    }
    
    &:hover,
    :focus {
        .icon {
            left: rem-calc(5);
        }
    }
}

@include mq($from: medium) {
    
    body,
    p {
        font-size: rem-calc(16);
    }
}