{% import "../macros/_features.njk" as feature %} 

{# Project title | ID | Subtitle | Image #}
{{ feature.feature(
    'Nik Burns',
    'nik-burns',
    'Website for steampunk sculptor & designer-maker'
)}}

{{ feature.feature(
    'Benedict Homer',
    'benedict-homer',
    'Branding & website for artist & designer-maker'
)}}

{{ feature.feature(
    'Meadow Arts',
    'meadow-arts',
    'Marketing & exhibition interpretation material'
)}}

{{ feature.feature(
    'Dorset Council',
    'dorset-council',
    'County council website & information hub'
)}}

{{ feature.feature(
    'Lumberjack Tools',
    'lumberjack-tools',
    'Branding & website for online tools retailer'
)}}

{{ feature.feature(
    'Church Stretton Visitor Guides',
    'church-stretton-visitor-guides',
    'Visitor guides for a beautiful tourist destination in the Shropshire Hills'
)}}

{{ feature.feature(
    'Parkway Restaurant',
    'parkway-restaurant',
    'Website for tasca bar & restaurant'
)}}