{% import "../macros/_features.njk" as feature %} 

<section class="feature visible">
    <div class="feature__container"><!-- wait! what? is this empty? --></div>
</section>

{{ feature.feature(
    'Meadow Arts',
    'meadow-arts',
    'Marketing & interpretation material',
    'feature-meadowarts.jpg'
)}}

{{ feature.feature(
    'Peter Bishop',
    'peter-bishop',
    'Exhibition Catalogue',
    'feature-cader-idris.jpg'
)}}

{{ feature.feature(
    'Benedict Homer',
    'ben',
    'Designer-Maker branding & website',
    'feature-ben.jpg'
)}}

{{ feature.feature(
    'Parkway Restaurant',
    'parkway',
    'Restaurant website & branding',
    'feature-parkway.jpg'
)}}