{% import "../macros/_features.njk" as feature %} 

<section class="feature visible">
    <div class="feature__container"><!-- wait! what? is this empty? --></div>
</section>

{# Project title | ID | Subtitle | Image #}
{{ feature.feature(
    'Nik Burns',
    'nik-burns',
    'Website for steampunk sculptor & designer-maker'
)}}

{{ feature.feature(
    'Benedict Homer',
    'benedict-homer',
    'Branding & website for artist & designer-maker'
)}}

{{ feature.feature(
    'Meadow Arts',
    'meadow-arts',
    'Marketing & exhibition interpretation material'
)}}

{{ feature.feature(
    'Dorsetforyou',
    'dorsetforyou',
    'County council website & information hub'
)}}

{{ feature.feature(
    'Toolave',
    'toolsave',
    'Branding & website for online retailer'
)}}

{{ feature.feature(
    'Parkway Restaurant',
    'parkway-restaurant',
    'Website for tasca bar & restaurant'
)}}