        <svg viewBox="0,0,100,100" preserveAspectRatio="none">
            <defs>
                <filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="0" y="0" width="100" height="100">
                    <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
                </filter>
            </defs>
            
            <mask maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100" id="SVGID_1_">
                <g class="mask--horz">
                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="50" x2="100" y2="50">
                        <stop  offset="0.2" style="stop-color:#FFFFFF"/>
                        <stop  offset="0.8" style="stop-color:#000000"/>
                    </linearGradient>
                    <rect class="mask__box" width="100" height="100"/>
                </g>
                
                <g class="mask--vert">
                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse"  x1="50" y1="0" x2="50" y2="100">
                        <stop  offset="0.2" style="stop-color:#FFFFFF"/>
                        <stop  offset="0.8" style="stop-color:#000000"/>
                    </linearGradient>
                    <rect class="mask__box" width="100" height="100"/>
                </g>
            </mask>
            
            <g class="gradient">
                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="40" y1="107" x2="60" y2="-7">
                    <stop class="start" offset="0.2"/>
                    <stop class="stop" offset="0.8"/>
                </linearGradient>
                <rect y="0" class="grady" width="100" height="100"/>
            </g>
        </svg>