{% import "macros/_socialising.njk" as social %}

<footer class="page-footer">
    <nav class="secondary-nav">
        {{ social.socialLink (
            [
                ['get in touch', '/contact.html'],
                ['about', 'about.html'],
                ['examples of work', 'examples-of-work.html']
            ]
        ) }}
    </nav>
</footer>