<header class="pageHeader">
    <div class="pageHeader__nav">
        <a href="/" class="logo icon--monogram">
            <span class="visuallyhidden">Craig Cooper Web Design and development</span>
        </a>
        {#
        <a href="/" id="navTrigger" class="navTrigger">
            <div class="navTrigger__bar1"></div>
            <div class="navTrigger__bar2"></div>
        </a>
        #}
        <a href="/" id="helper" class="pageHeader__helper icon--mail">
            <span class="visuallyhidden">Contact</span>
        </a> 
        <span class="rule"></span>
    </div>
</header>

{#{% include "partials/_nav.njk" %}#}