<header class="pageHeader">
    <div class="pageHeader__nav">
        <a href="/" class="logo icon--monogram">
            <span class="visuallyhidden">Craig Cooper Web Design and development</span>
        </a>
        <a href="/" id="navTrigger" class="navTrigger">
            <div class="navTrigger__bar1"></div>
            <div class="navTrigger__bar2"></div>
        </a>
        <a href="/" id="helper" class="pageHeader__helper icon--mail">
            <span class="visuallyhidden">Scrolls down</span>
        </a> 
        <span class="rule"></span>
    </div>
</header>

<nav id="mainNav" class="mainNav">

    <div class="mainNav__action">
        <a href="" id="mainNavClose" class="mainNav__close icon--close">
            <span class="visuallyhidden">Close navigation</span>
        </a>
    </div>

    <ul class="mainNav__list listless">
    
        <li class="mainNav__item">
            <a href="about.html" class="mainNav__link">
                <div class="mainNav__block">
                    <div class="mainNav__content">
                        <p class="mainNav__title">About</p>
                        <p class="mainNav__summary">Just who do I think I am.</p>
                    </div>
                </div>
            </a>
        </li>
        
        <li class="mainNav__item">
            <a href="/examples.html" id="works" class="mainNav__link"> 
                <div class="mainNav__block">
                    <div class="mainNav__content">
                        <p class="mainNav__title">Selected Works</p>
                        <p class="mainNav__summary">These, I like.</p>
                    </div>
                </div>
            </a>
        </li>
        
        <li class="mainNav__item">
            <a href="archive.html" class="mainNav__link">
                <div class="mainNav__block">
                    <div class="mainNav__content">
                        <p class="mainNav__title">Archive</p>
                        <p class="mainNav__summary">There's more…</p>
                    </div>
                </div>
            </a>
        </li>
        
        <li class="mainNav__item">
            <a href="contact.html" class="mainNav__link">
                <div class="mainNav__block">
                    <div class="mainNav__content">
                        <p class="mainNav__title">Contact</p>
                        <p class="mainNav__summary">You know you want to.</p>
                    </div>
                </div>
            </a>
        </li>
        
    </ul>
    
    <div class="mainNav__action">
        <a href="" class="mainNav__close icon--close">
            <span class="visuallyhidden">Craig Cooper Web Design and development</span>
        </a>
    </div>
    
</nav>