<nav class="secondary-nav">
    <ul class="secondary-nav__list listless clearfix">
        <li class="secondary-nav__item">
            <a href="about.php" class="secondary-nav__link">about</a>
        </li>
        <li class="secondary-nav__item">
            <a href="examples.php" class="secondary-nav__link">examples</a>
        </li>
        <li class="secondary-nav__item">
            <a href="contact.php" class="secondary-nav__link">get in touch</a>
        </li>
    </ul>
</nav>