        <nav class="secondary-nav">
            <ul class="secondary-nav__list listless clearfix">
                <li class="secondary-nav__item">
                    <a href="contact.php" class="secondary-nav__link">get in touch</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://twitter.com/CraigDoesDesign" class="secondary-nav__link">twitter</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://dribbble.com/craigomatic" class="secondary-nav__link">dribbble</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://unsplash.com/craigomatic" class="secondary-nav__link">unsplash</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.behance.net/craigcooper" class="secondary-nav__link">behance</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.linkedin.com/in/craigjcooper/" class="secondary-nav__link">linked in</a>
                </li>
            </ul>
        </nav>