<section class="thumbnails">
    <div class="thumbnails__container">
        <div class="medium-push-1">
            <ul class="thumbnails__list listless">   
                {% block content %}
                {% endblock %}     
            </ul>
        </div>
    </div>
</section>