<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Craig Cooper</title>
    <meta name="description" content="">
    
    <!-- icons -->
    <link rel="icon" href="images/favicon.png">
    
    <link href="css/styles.css" rel="stylesheet">
    <!-- Fonts -->
    <script src="https://use.typekit.net/jbo0sbd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
    <!-- Scripts -->
    <script src="js/libs/modernizr-custom.js" rel="javascript"></script>
    
    <!-- Open Graph -->
    <meta name="twitter:site" content="@craigdoesdesign" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Craig Cooper Digital Design"/>
    <meta property="og:title" content="Craig Cooper"/>
    <meta property="og:description" content="User focused design online and in print."/>
    <meta property="og:image" content="https://www.sequoiacap.com/img/c/home_intro_us_1.jpg"/>
    
    {% include "partials/_deferscript-home.html" %}

</head>
<body class="test" data-hijacking="on" data-animation="parallax" itemscope="" itemtype="http://schema.org/WebPage">

    {% include "partials/_header.html" %}

    <!-- You write code for this content block in another file -->
    {% block content %}
    {% endblock %}
    
</body>
</html>