{% macro footer(
    class,
    image_url,
    image_alt, 
    colour_start,
    colour_stop,
    next_project,
    prev_project,
    next_project_url,
    prev_project_url
) %}

<footer class="preview {{ class }}">
    
    <article class="preview__content">
        
        <div class="preview__image">
            <img class="lazy" data-src="{{ image_url }}" alt="{{ image_alt}}">
        </div>
        <svg viewBox="0,0,100,100" preserveAspectRatio="none">
            <defs>
                <filter id="maMaskFilter" filterUnits="userSpaceOnUse" x="0" y="0" width="100" height="100">
                    <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
                </filter>
            </defs>

            <!-- fade out to nothing -->
            <mask maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100" id="ma1">
                <!-- left to right -->
                <g class="mask--horz" style="filter:url(#maMaskFilter);">
                    <linearGradient id="ma2" gradientUnits="userSpaceOnUse" x1="0" y1="50" x2="100" y2="50">
                        <stop  offset="0.2" style="stop-color:#FFFFFF"/>
                        <stop  offset="0.8" style="stop-color:#000000"/>
                    </linearGradient>
                    <rect style="fill:url(#ma2);" width="100" height="100"/>
                </g>
            </mask>

            <!-- gradient -->
            <g style="mask:url(#ma1);">
                <linearGradient id="ma3" gradientUnits="userSpaceOnUse" x1="40" y1="107" x2="60" y2="-7">
                    <stop class="start" offset="0.2" style="stop-color: {{ colour_start }}"/>
                    <stop class="stop" offset="0.8" style="stop-color: {{ colour_stop }}"/>
                </linearGradient>
                <rect y="0" style="fill:url(#ma3);" width="100" height="100"/>
            </g>
        </svg>
        
        <div class="row column">
            <div class="medium-10 medium-centered column">
                <a href="{{ prev_project_url }}" class="preview__previous"><span class="preview__direction">Back to</span> {{ prev_project }}</a>
                <a href="{{ next_project_url }}" class="preview__link">
                    <h3 class="preview__next"><span class="preview__direction">Next up</span> <span>{{ next_project }}</span></h3>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use></svg>
                </a>
            </div>
        </div>
    </article>
</footer>

{% endmacro %}