{% extends "_layout.html" %}

{% block content %}

<main id="main" class="about">
    
    {% include "partials/_title.html" %}
    
    <section class="intro">
        <div class="row">
            <div class="large-4 xlarge-3 xlarge-push-1 column sticky">
                <h2 class="intro__title">
                    <span class="intro__client">Hello</span>
                    <span class="intro__name">My name is Craig and I’d like to work with you</span>
                </h2>
            </div>
        
            <div class="large-7 xlarge-4 xlarge-push-1 column intro__summary">
                <p>I'm a print/UI/UX designer and front end developer based in Ludlow, Shropshire, just an hour from Birmingham and the West Midlands and within shouting distance of Mid-Wales.</p>
                <p>I enjoy taking seemingly complex problems and transforming them into simple, easy to use solutions for both print and web. I work for companies of all shapes and sizes, from small local businesses to large brands and organisations. I can build you a website design you a logo or produce you a brochure, to your budget and timescales. </p>
                <p>So if you've got some marketing to do, or maybe a little bit of refreshment to your existing collateral, why not <a href="contact.html" aria-label="Contact a designer in Ludlow, Shropshire about your website, logo or brochure">get in touch</a>.</p>
            </div>
        </div>
    </section>
    
    <section class="intro">
        <div class="row">
            <div class="column">
                <h2 class="">I've been lucky enough to work on projects for</h2>
                <ul class="brand__list">
                    <li class="brand__item">LSE</li>
                    <li class="brand__item">National Trust</li>
                    <li class="brand__item">Jaguar</li>
                    <li class="brand__item">Arup</li>
                    <li class="brand__item">Alfred McAlpine</li>
                    <li class="brand__item">HDA</li>
                    <li class="brand__item">IMI</li>
                    <li class="brand__item">Shelter</li>
                    <li class="brand__item">Gambling Commission</li>
                    <li class="brand__item">Gwynedd County Council</li>
                    <li class="brand__item">Wall Street Journal (Europe)</li>
                    <li class="brand__item">Guys & St. Thomas NHS Trust</li>
                    <li class="brand__item">Barnsby</li>
                    <li class="brand__item">Ministry of Defence</li>
                    <li class="brand__item">Defence Estates</li>
                    <li class="brand__item">Learning & Skills Council</li>
                    <li class="brand__item">Tros Gynnal</li>
                    <li class="brand__item">Le Shark</li>
                    <li class="brand__item">Brown & Sharpe</li>
                </ul>
            </div>
        </div>
    </section>
    
</main>

{% include "partials/_social.html" %}

{% include "partials/_footer.html" %}

{% endblock %}