{% extends "_layout.html" %}

{% block content %}

<main id="main" class="about">
    
    {% include "partials/_title.html" %}
    
    <section class="intro">
        <div class="row">
            <div class="large-4 xlarge-3 xlarge-push-1 column">
                <h2 class="intro__title">
                    <span class="intro__client">Hello</span>
                    <span class="intro__name">My name is Craig and I’d like to work with you</span>
                </h2>
            </div>
        </div>
        
        <div class="large-6 xlarge-4 xlarge-push-1 column intro__summary">
            <p>I'm a print/UI/UX designer and front end developer  based in Ludlow, Shropshire, just an hour's drive from Birmingham and the West Midlands and within shouting distance of Mid-Wales.</p>
            <p>I enjoy taking seemingly complex problems and transforming them into simple, easy to use solutions for both print and web. I work for companies of all shapes and sizes, from small local businesses to large brands and organisations. I can build you a website design you a logo or produce you a brochure, to your budget and timescales. </p>
            <p>So if you've got some marketing to do, or maybe a little bit of refreshment to your existing collateral, why not get in touch.</p>
            <p>So if you've   got some marketing to do, or maybe a little bit of refreshment to your existing collateral, why not <a href="#footer" title="Contact a Graphic designer, website design, logo designer, Ludlow, Shropshire">get in touch</a>.</p>
        </div>
    </section>
    
</main>

{% include "partials/_social.html" %}

{% include "partials/_footer.html" %}

{% endblock %}