{% import "macros/_projects.njk" as project %} 

<!-- vars -->
{% set Title = "Benedict Homer" %}
{% set SubTitle = "Designer-maker branding & website" %}

{% extends "_layout.html" %}
{% block content %}

<main id="main" class="project">
    
    {% include "partials/_me.njk" ignore missing %} 
    
    {# Project title | Subtitle | Hero image | Hero image alt | Date | roles #}  
    {{ project.hero(
        Title,                              
        SubTitle,     
        'feature-benedict-homer.jpg',                        
        'Apple scuplture by Benedict Homer',
        '2011 to present',                  
        ['Design', 'Branding', 'UX', 'Development', 'Photography']
    )}}

    {# Project title | Subtitle | text | image | image alt text #}
    {{ project.intro (
        Title,
        SubTitle,
        '<p>Write some text in here. <a href="" >You can</a> also use <em>italics</em>, and <strong>bold</strong> text. Woo hoo!</p>',
        'https://unsplash.it/220',
        'The alt text'
    )}}
    
</main>

{# Class | Preview image alt | Next project | Previous project | Previous project URL #}
{{ project.preview(
    'meadow-arts',                              
    'meadow arts image thing',                  
    'Meadow Arts',
    'Nik Burns',                       
    'nik-burns.html'
)}}

{% endblock %}