{% import "macros/_projects.njk" as project %} 

<!-- vars -->
{% set Title = "Visitor Guide" %}
{% set SubTitle = "Visitor guide for Church Stretton, Shropshire" %}

{% extends "_layout.html" %}
{% block content %}

<main id="main" class="project">
    
    {% include "partials/_me.njk" ignore missing %}
    
    {# Project title | Subtitle | Hero image URL | Hero image alt | Date | roles #} 
    {{ project.hero(
        Title,                            
        SubTitle,     
        'feature-church-stretton-visitor-guide.jpg',
        'alt',
        '2017 to 2019',                  
        ['Design']
    )}}

    {# Project title | Hero image URL | Hero image alt | Subtitle | Date | roles #}
    {{ project.intro (
        Title,
        SubTitle,
        '<p>Write some text in here. <a href="" >You can</a> also use <em>italics</em>, and <strong>bold</strong> text. Woo hoo!</p>',
        'https://unsplash.it/220',
        'The alt text'
    )}}
    
</main>
    
{# Class | Preview image alt | Next project | Previous project | Previous project URL #}
{{ project.preview(
    'helping-hillforts',                              
    'alt',                  
    'Helping Hillforts',                              
    'Parkway Restaurant',                       
    'parkway-restaurant.html'
)}}

{% endblock %}