{% extends "_layout.njk" %}

{% block content %}

<main id="main" class="contact">
    
    {% include "partials/_title.njk" %}
    
    <section class="contact__content">
        <h2 class="contact__title">Call me</h2>
        <p>Go on, you know you want to.</p>
        <p class="contact__phone">07814 745549</p>
    </section>
    
    {% include "partials/_social.njk" %}

    {% include "partials/_footer.njk" %}
</main>

{% endblock %}