{% extends "_layout.html" %}

{% block content %}

<main id="main" class="about">
    
    {% include "partials/_title.njk" %}
    
    <section class="intro">
        <div class="row">
            <div class="large-4 xlarge-3 xlarge-push-1 column sticky">
                <h2 class="intro__title">
                    <span class="intro__name">Get in touch</span>
                </h2>
            </div>
        
            <div class="large-7 xlarge-4 xlarge-push-1 column intro__summary form">
                
            </div>
        </div>
    </section>
    
</main>

{% include "partials/_social.html" %}

{% include "partials/_footer.html" %}

{% endblock %}