{% extends "_layout-home.html" %}
{% block content %} 

<section class="section splash">
    {% include "partials/_title.html" %}

    <div class="splash__content">
        <div class="splash__monogram"><img src="images/monogram.svg" alt="slowly animating logo"></div>
        <h2 class="splash__strap">Creating user-focused design <br>for the web and in print</h2>
    </div>

    {% include "partials/_social.html" %}
</section>

<div class="wrap">
    {% include "partials/_features.njk" %}
</div>

{% endblock %}