{% import "macros/_projects.njk" as project %} 

<!-- vars -->
{% set Title = "The Precious Clay" %}
{% set SubTitle = "Marketing & interpretation material" %}

{% extends "_layout.njk" %}
{% block content %}

<main id="main" class="project">
    
    {% include "partials/_me.njk" ignore missing %}
    
    {# Project title | Subtitle | Hero image URL | Hero image alt | Date | roles #} 
    {{ project.hero(
        Title,                            
        SubTitle,     
        'feature-meadow-arts.jpg',
        'Meadow arts - The Precious Clay',
        '2018',                  
        ['Design', 'Print Production']
    )}}

    {# Project title | Hero image URL | Hero image alt | Subtitle | Date | roles #}
    {{ project.intro (
        Title,
        SubTitle,
    '<p><em>The Precious Clay</em> celebrates the work of contemporary artists working in porcelain. Held at The Museum of Royal Worcester and curated by Meadow Arts. An exhibition catalogue, posters, and advertising were commissioned. Interpretation leaflets were also produced to accompany a performance piece that wound its way around Worcester Docks.</p><p>The original concept for the literature featured an exploding teapot with a traditional colours, a later image featuring a striking yellow background replaced the more traditional colour scheme of the teapot.</p><p>The Precious Clay runs from September 2018 to March 2019.</p>',
        'https://unsplash.it/220',
        'The alt text'
    )}}
    
    {{ project.imageSplitLeft (
        'precious-clay-teapot-poster.jpg',
        'early poster design for The Precious Clay featuring a decorative teapot that appears to be exploding',
    '<em>Teapot with Buttterflies</em> by <a href="http://boukedevries.com/">Bouke&nbsp;De&nbsp;Vris</a> was chosen for the original poster design. The dynamism of the exploding teapot gave a somewhat typographic feel to the design.',
        'image__container--contain'
    )}}
    
    {{ project.imageSplit (
        'hollowware-map.jpg',
        'Hollowware leaflet cover',
        'Interpretation material for a performance of <em>&lsquo;Hollowware&rsquo;</em> by <a href="https://www.emilyspeed.co.uk/">Emily Speed</a> which wound its way around the Worcester docks.',
        ''
    )}}
    
    {{ project.imageOffset (
        'precious-clay-brochure.jpg',
        'Exhibition brochure for The Precious Clay',
        ''
    )}}
    
    {{ project.imageFull (
        'precious-clay-brochure-spreads.jpg',
        'Exhibition brochure pages from The Precious Clay',
        ''
    )}}
    
    
</main>
    
{# Class | Preview image alt | Next project | Previous project | Previous project URL #}
{{ project.preview(
    'dorsetforyou',                              
    'Dorsetforyou arts image thing',                  
    'Dorsetforyou',                              
    'Benedict Homer',                       
    'benedict-homer.html')                            
}}

{% endblock %}