{% import "_projects.njk" as project %} 

<!-- vars -->
{% set Title = "This is the Title" %}
{% set SubTitle = "This is the Sub-Title" %}

{% extends "_layout.html" %}

{% block content %}

<main id="main" class="project">
    
    {% include "partials/_me.njk" ignore missing %}
    
    {{ project.header(
        Title,                              
        'https://unsplash.it/1400/384/?random" alt="image',                        
        'Cader Idris',                              
        SubTitle,     
        '2012',                  
        'The Visual Works',                                  
        'http://www.visualworks.co.uk',                                  
        ['Design', 'Production']
    )}}

    {{ project.intro (
        Title,
        SubTitle,
        'Write some text in here. <a href="" >You can</a> also use <em>italics</em>, and <strong>bold</strong> text. Woo hoo!',
        'https://unsplash.it/220',
        'The alt text'
    )}}

    <section class="image image--full">
    <!--    <div class="row">-->
            <div class="image__container medium-10 large-9 large-centered column">
                <img class="lazy" data-src="https://unsplash.it/1120/650" alt="image" />
                <noscript><img src="https://unsplash.it/1120/650" alt="image" /></noscript>
            </div>
    <!--    </div>-->
    </section>
    
    <section class="image image--full">
    <!--    <div class="row">-->
            <div class="image__container image__container--contain medium-10 large-9 large-centered column">
                <img class="lazy" data-src="https://unsplash.it/1120/650" alt="image" />
                <noscript><img src="https://unsplash.it/1120/650" alt="image" /></noscript>
            </div>
    <!--    </div>-->
    </section>

    <section class="testimonial">
        <div class="row">
            <div class="medium-8 medium-centered large-6 column">
                <blockquote class="testimonial__content">
                    <p>Craig designed an exhibition catalogue for me in 2012. His undoubted talent as a designer is aided by his ability to communicate fully with his client over any issue or concern over the development process culminating in the final publication. The Cader Idris cover is a work of art in itself. As an art world professional I always enjoy showing Craig's superb catalogue design to my collogues and friends.</p>
                </blockquote>
            </div>
        </div>
    </section>

    <section class="image split">
        <div class="split__text medium-5 large-4 medium-push-2 large-push-3 column">
            <div class="text__container">
                <p>A careful balance of typography and colour to compliment the artworks yet still let them leap from the page</p>
            </div>
        </div>
        <div class="image__container split__image medium-5 large-4 medium-push-1 large-push-2 column">
            <img class="lazy" data-src="https://unsplash.it/540/720" alt="image" />
        </div>
    </section>

    <section class="image image--offset-left">
        <div class="image__container large-pull-1">
            <img class="lazy" data-src="https://unsplash.it/1270/650" alt="image" />
        </div>
    </section>

    <section class="thumbnails">
        <div class="thumbnails__container">
            <div class="medium-push-1">
                <ul class="thumbnails__list listless">
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/215/195/?random"></li>
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/800/370/?random"></li>
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/430/195/?random"></li>
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/430/195/?random"></li>
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/430/195/?random"></li>
                    <li class="thumbnails__item"><img class="lazy" data-src="https://unsplash.it/430/195/?random"></li>
                </ul>
            </div>
        </div>
    </section>
    
</main>

{{ project.preview(
    Title,                              
    '/meadow-arts.html',                        
    'meadow-arts',                              
    'https://unsplash.it/1400/384/?random',     
    'meadow arts image thing',                  
    '#008e4c',                                  
    '#4ab6e9',                                  
    'Parkway Restaurant',                       
    '/parkway.html')                            
}}

{% endblock %}